body {
    font-family: Arial, sans-serif;
    background: url('../../home/sky.jpg');
    margin: 0;
    padding: 0;
}

h1 {
    /* font-size: 20px; */
    text-align: center;
    color: #ffffff;
    padding: 20px 0;
}

.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(104, 104, 104, 0.948);
}

h2 {
    color: #fff;
    text-align: center;
    background-color: rgb(77, 189, 245);
    border: #ff8ff9;
    border-radius: 8px;
}

.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin-top: 20px;
}

p {
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

button[type="submit"],
button[type="button3"] {
    /* แก้เป็น type="button3" เพื่อให้เป็นปุ่มที่มี attribute type ชื่อ button3 */
    font-weight: 600;
    display: inline-block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: rgb(77, 189, 245);
    /* สีเขียว */
    color: #fff;
}

button[type="button3"] {
    /* ปุ่ม do it again */
    background-color: rgb(255, 215, 39);
    /* สีแดง */
    color: #fff;
}

button[type="submit"]:hover {
    background-color: #1e00b3;
}

button[type="button3"]:hover {
    /* ปุ่ม do it again */
    background-color: #ea4909;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(77, 189, 245);
    border: #ff8ff9;
    border-radius: 8px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* จัดให้อยู่กลางตามแนวตั้ง */
    margin-top: 20px;
    /* เพิ่มระยะห่างของปุ่มจากเนื้อหาก่อนหน้า */
    margin-bottom: 20px;
    /* เพิ่มระยะห่างด้านล่างของ .button-container จากเนื้อหาหลังหน้า */
    margin-left: 150px;
    /* จัดปุ่ม Back ไปทางซ้าย */
    margin-right: 150px;
    /* จัดปุ่ม Next ไปทางขวา */
}

#button1 {
    text-align: center;
    /* จัดให้ตัวหนังสืออยู่กึ่งกลางภายในปุ่ม */
    /* ส่วนของปุ่ม Back */
    background-color: #ff0000;
    width: 60px;
    height: 25px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    /* ลบเส้นใต้ที่ปุ่ม "Back" */
}

#button2 {
    text-align: center;
    /* จัดให้ตัวหนังสืออยู่กึ่งกลางภายในปุ่ม */
    /* ส่วนของปุ่ม Next */
    background-color: #4caf50;
    width: 100px;
    height: 40px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
    font-size: 1em;
    font-weight: 600;
}


/* ปุ่มเล่น หยุด เล่นซ้ำ */

.controls {
    text-align: center;
    margin-top: 10px;
}